.loading{
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 16px;
}
.mainLoading{
    padding-top: 16px;
}
.wrapper{
    padding-top: 16px;
}
.labelSearch{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 18px;
}
.inputContainer{
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}
.input{
    padding: 14px 46px 14px 14px;
    border: 1px solid #E8E8E8;
    width: 656px;
}
.searchIcon{
    margin-left: -32px;
    cursor: pointer;
}
.countriesLinks{
    display: flex;
    flex-direction: column;
}
.errorMessage{
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 16px;
}
.link{
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
.link:hover{
    color: #F2994A;
}
.navigation{
    display: flex;
}
.arrowNavL{
    margin-right: 25px;
}
.arrowNavR{
    margin-left: 25px;
}
.activePageLetter,.pageLetter{
    margin: 0 4px;
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    color: #BDBDBD;
}
.activePageLetter{
    color: #333333;
}
.mobileNav{
    display: none;
    justify-content: center;
}


@media(max-width: 950px){
    .arrowNavL{
        margin-right: 0;
    }
    .arrowNavR{
        margin-left: 0;
    }
}
@media(max-width: 700px){
    .input{
        width: 100%;
    }
    .activePageLetter,.pageLetter{
        margin: 0 2px;
    }
    .link:hover{
        color: #333333;
    }
}
@media(max-width: 530px){
    .arrowNavL,.arrowNavR{
        display: none;
    }
    .mobileNav{
        display: flex;
        margin-top: 10px;
    }
    .navigation{
        justify-content: center;
    }

}
@media(max-width: 360px){
    .activePageLetter,.pageLetter{
        font-size: 11px;

    }
}

